[submodule "contrib/asdf"]
	path = contrib/asdf
	url = https://gitlab.common-lisp.net/asdf/asdf.git
[submodule "contrib/quicklisp-bootstrap"]
	path = contrib/quicklisp-bootstrap
	url = https://github.com/quicklisp/quicklisp-bootstrap.git
