*.fas
*.lib
*.fasl
*.a
*.o
*.*fsl
*~
*.jpg
configure
config.log
config.status
autom4te.cache
Makefile
TAGS
help.lisp
module.lisp
.dotest
patches
*.patch
*#
#*
.#*
modules/*#*
config/dswm.desktop
dswm.info
dswm.texi
dswm

