*.fas
*.lib
*.fasl
*.a
*.o
*.*fsl
*~
*.jpg
configure
config.log
config.status
autom4te.cache
Makefile
TAGS
make-image.lisp
help.lisp
module.lisp
version.lisp
.dotest
patches
*#
#*
.#*
modules/*#*
dswm.desktop
dswm.info
dswm.texi
dswm

