dswm
aclocal.m4
autom4te.cache
configure
Makefile
Makefile.in
*/Makefile
*/Makefile.in
*/dswm
scripts/loader.sh
src/dswm.asd
src/help.lisp
src/module.lisp
src/loader.lisp
scripts/loader.sh
acdir
contrib
*~
*.fas
*.lib
*.fasl
*.a
*.o
*.*fsl
*~
*.jpg
config.log
config.status
TAGS
*.patch
*#
#*
.#*
src/modules/*#*

