[Desktop Entry]
Name=GNOME DSWM
Comment=This session logs you into GNOME with DSWM
Exec=gnome-session --session=gnome-dswm --debug
TryExec=gnome-session
Icon=
Type=Application
X-Ubuntu-Gettext-Domain=gnome-session-3.0

### usr/share/xsessions/mate-dswm.desktop
