[Desktop Entry]
Encoding=UTF-8
Name=DSWM
Comment=Log in using the DSWM window manager (without a session manager)
Exec=${exec_prefix}/bin/dswm
TryExec=${exec_prefix}/bin/dswm
Icon=dswm.png
Type=XSession
